@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Quicksand', sans-serif; }

header nav {
  background-color: white; }
  header nav div a img {
    width: 80px;
    height: 60px;
    margin: 10px 0px 0px 50px; }
  header nav div div {
    display: flex;
    justify-content: end;
    margin-right: 30px; }

/*-----MAIN-------*/
main .hero {
  background-image: url(../img/flores-fondo-celeste.jpg);
  width: 100%;
  height: 88vh;
  background-position: center;
  background-size: auto;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center; }
  main .hero a {
    text-decoration: none; }
    main .hero a h1 {
      font-weight: 50;
      font-family: 'Pacifico', cursive;
      color: white;
      font-size: 80px;
      -webkit-text-stroke: 2.5px black;
      transition: 0.4s; }
      main .hero a h1:hover {
        transform: scale(1.1);
        color: wheat; }

main .coleccion {
  width: 100%;
  height: 500px;
  background-color: #f8e2ce;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  main .coleccion div {
    text-align: center;
    position: relative;
    transition: 0.5s; }
    main .coleccion div:hover {
      transform: scale(1.2); }
    main .coleccion div img {
      width: 300px;
      height: 300px;
      border-radius: 20px; }
    main .coleccion div a .nuevosModelos {
      font-size: 30px;
      font-family: 'Parisienne', cursive;
      position: absolute;
      bottom: 130px;
      left: 50px;
      color: black;
      background-color: white;
      padding: 2px 6px;
      border: 1px solid black;
      border-radius: 20px; }
  main .coleccion div a .coleccionCompleta {
    font-size: 30px;
    font-family: 'Parisienne', cursive;
    position: absolute;
    bottom: 135px;
    left: 40px;
    color: black;
    background-color: white;
    padding: 2px 6px;
    border: 1px solid black;
    border-radius: 20px; }
  main .coleccion div a .conocenos {
    font-size: 30px;
    font-family: 'Parisienne', cursive;
    position: absolute;
    bottom: 140px;
    left: 90px;
    color: black;
    background-color: white;
    padding: 2px 6px;
    border: 1px solid black;
    border-radius: 20px; }

main .verano2023 {
  background-color: white;
  display: flex;
  justify-content: space-around; }
  main .verano2023 div {
    margin: 20px; }
    main .verano2023 div h3 {
      color: #ffe0ef;
      -webkit-text-stroke: 2px black;
      font-family: 'Pacifico', cursive;
      font-size: 50px;
      font-weight: 100;
      text-align: center;
      margin-top: 60px;
      transition: 1s; }
      main .verano2023 div h3:hover {
        transform: scale(1.1); }

main .tarjetaVerano2023 {
  position: relative; }
  main .tarjetaVerano2023 img {
    margin-top: 50px;
    width: 300px;
    height: 300px;
    border: 3px solid black;
    border-radius: 20px; }
  main .tarjetaVerano2023 a h4 {
    font-size: 30px;
    color: black;
    background-color: #ffd6b0;
    font-family: 'Parisienne', cursive;
    position: relative;
    bottom: 100px;
    text-align: center;
    margin: 10px;
    text-decoration: none;
    border-radius: 20px;
    transition: 1s; }
    main .tarjetaVerano2023 a h4:hover {
      transform: scale(1.1); }

footer {
  background-color: #ffd6b0;
  height: 170px; }
  footer div {
    display: flex;
    align-items: center;
    justify-content: center; }
    footer div a img {
      width: 25px;
      height: 25px;
      margin: 20px 10px 2px 10px;
      transition: 0.4s; }
      footer div a img:hover {
        transform: scale(1.5); }
    footer div h4 {
      margin-left: 10px;
      margin-top: 25px;
      font-size: 15px; }
